@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

.lato {
  font-family: "Lato", sans-serif;
}
.roboto {
  font-family: "Roboto", sans-serif;
}

#header .fixed {
  width: 33%;
  height: 100%;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(../img/hd-river-in-the-mountains-kgb9wrcm1wmrfa5m.webp);
}
#header .fixed img {
  width: 180px;
}
